:root {
    --primary-title: #575757;
    --primary-font: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
    padding: 20px;
}

.wrapper {
    padding: 10px;
    border: 1px solid black;
}

h2 {
    font-size: 36px;
    color: var(--primary-title);
    margin-bottom: 10px;
}

button {
    padding: 10px;
}